
.sidebar {
  width: 250px;
  max-height: 100vh;
  background-color: #343a40;
  color: white;
  padding: 20px;
  overflow-y: auto;  
  position: sticky;  
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.brand h2 {
  font-size: 20px;
  color: #feca29;
  margin: 0;
}

.admin-btn {
  background-color: #fff;
  color: #343a40;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-btn:hover {
  background-color: #e6e6e6;  
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.menu-item {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #495057;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-link svg {
  margin-right: 10px;
  font-size: 18px;
}

.submenu {
  list-style-type: none;
  padding-left: 20px; 
  margin-top: 10px;
}

.submenu li {
  padding: 8px 0;
  font-size: 14px;  
  transition: color 0.3s ease;
}

.submenu li:hover {
  color: #feca29;
}

.badge {
  background-color: #feca29;
  color: #343a40;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
  margin-left: 10px;
  display: inline-block;
}

.menu-item span {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  font-size: 16px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px; 
  }

  .brand h2 {
    font-size: 18px;
  }

  .menu-link svg {
    font-size: 16px;
  }

  .menu-item span {
    font-size: 14px;
  }
}
