.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f9f9f9; 
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .feature-icon {
    font-size: 40px;
    color: #ff3f81; 
    margin-bottom: 15px;
  }
  
  .feature h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 1rem;
    color: #666;
  }

  .flavours{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .flavour{
    padding: 5px;
    margin: 30px auto;
  }

  .flavour img{
    width: 180px;
    height: auto;
    border-radius: 10px;
}

.disp_1{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    /*background-color: #4a90e2;*/
}

.celebrate img{
    width: 450px;
    border-radius: 30px;
    border: 1px gray solid;
    margin-right: clamp(1.5rem, 2vw, 10rem);
}

.celebrate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #5a8de0;
}

/*.card_1 div{*/
/*    background-color: ;*/
/*}*/

.card_2{
    display: flex;
    align-items: center;
    background: #1d4552;
    margin: 100px;
}

