.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*min-height: 100vh;*/
  padding: 20px;
}

/* Title styling */
.auth-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Error message styling */
.error-message {
  color: red;
  margin-bottom: 15px;
}

/* Form styling */
.auth-form {
  background-color: white; /* White background for the form */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  padding: 20px;
  width: 100%;
  max-width: 400px; /* Limit the width of the form */
}

/* Input group styles */
.form-group {
  margin-bottom: 15px; /* Space between input groups */
}

label {
  display: block;
  margin-bottom: 5px; /* Space between label and input */
}

input[type='text'],
input[type='password'] {
  width: 100%; /* Full width inputs */
  padding: 10px; /* Padding for comfort */
  border-radius: 4px; /* Rounded corners for inputs */
  border: 1px solid #979494; /* Light border */
}



.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
}

.auth-button {
  width: 100%; /* Full width button */
  padding: 10px;
  background-color: #007bff; /* Primary color for the button */
  color: white; /* White text on button */
  border-radius: 4px; /* Rounded corners for button */
  border: none; /* No border */
}


.auth-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.auth-footer {
  margin-top: 15px; /* Space above footer text */
}

/* Link styling in footer */
.auth-footer a {
  color: #007bff; /* Link color matching the button */
}

.auth-footer a:hover {
  text-decoration: underline; /* Underline on hover for links */
}

/* Container for the input and button */
.input-container {
  position: relative;
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;
}

/* Style for the input field */
.input-container input {
  width: 100%;
  padding: 10px 40px 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-password svg {
  width: 24px;
  height: 24px;
  color: #666;
}

svg:hover{
  background-color:none;
}

